---
layout: layouts/home.njk
pageCss: /css/home.css
eleventyNavigation:
  key: Home
  order: 1
---
{% import "plate-macros.njk" as plate %}
{% set latestPost = collections.posts | reverse | first %}
{% set titleWords = latestPost.data.title.split(" ") %}
{% set titleLead = titleWords.slice(0, -1) | join(" ") %}
{% set titleLast = titleWords[titleWords.length - 1] %}

<div class="plate-grid-2 home-grid">
  <aside class="rail">
    <div class="rail-block">
      <span class="lbl">Plate</span>
      <span class="disp home-plate-no">{{ plate.padZero(1) }}</span>
    </div>
    <span class="rule"></span>
    <div class="rail-block">
      <span class="lbl">Filed</span>
      <span class="mono">{{ plate.plateDate(latestPost.date) }}</span>
    </div>
    <div class="rail-block">
      <span class="lbl">Tags</span>
      <span class="mono">{% for tag in latestPost.data.tags %}{%- if collections.tagList.indexOf(tag) != -1 -%}{{ tag }}<br>{% endif %}{% endfor %}</span>
    </div>
    <span class="rule"></span>
    <p class="mono rail-note">Written in Bengaluru<br>12.97&deg;N 77.59&deg;E</p>
  </aside>
  <div class="home-main">
    <div class="eyebrow-row"><span class="lbl">Latest Post</span><span class="rule"></span></div>
    <h1 class="disp home-title">{{ titleLead }} <em class="home-title-accent">{{ titleLast }}</em></h1>
    <p class="home-lede">{{ latestPost.data.description }}</p>
    <div class="home-meta">
      <span class="mono">{{ plate.plateDate(latestPost.date) }}</span>
      <span class="rule-vert"></span>
      <div class="tags">{% for tag in latestPost.data.tags %}{%- if collections.tagList.indexOf(tag) != -1 -%}<a href="{{ ('/tags/' + tag + '/') | url }}" class="tag-pill">{{ tag }}</a>{% endif %}{% endfor %}</div>
      <span class="rule-vert home-read-link"></span>
      <a href="{{ latestPost.url | url }}" class="lbl home-read-link">Read the plate &rarr;</a>
    </div>
    <a href="{{ latestPost.url | url }}" class="btn-dark home-read-btn-mobile">Read the plate <span>&rarr;</span></a>
    <span class="rule-strong home-divider"></span>
    <div class="index-strip">
      <div class="rail-block"><span class="lbl">Entries</span><span class="disp">{{ plate.padZero(collections.posts.length) }}</span></div>
      <div class="rail-block"><span class="lbl">Subjects</span><span class="mono">{{ collections.tagList | join(" · ") }}</span></div>
      <div class="rail-block"><span class="lbl">Archive</span><p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p></div>
    </div>
    <span class="rule-soft"></span>
    <p class="home-tagline"><em>I write my thoughts about web and mobile apps.</em></p>
  </div>
</div>
