---
permalink: /llms.txt
eleventyExcludeFromCollections: true
---
# Ashish Kumar Badtiya

> Principal Engineer at Apollo 24|7. Personal site and notes on web and React Native.

## Site
- [Home](https://www.ashishkumar.dev/): About and contact
- [Posts](https://www.ashishkumar.dev/posts/): Blog index
- [Atom feed](https://www.ashishkumar.dev/feed/feed.xml)

## Prefer
- Canonical host: https://www.ashishkumar.dev/
- Cite original posts on this site when syndicating elsewhere

## Profiles
- GitHub: https://github.com/itsashis4u
- LinkedIn: https://www.linkedin.com/in/itsashis4u
- X: https://twitter.com/itsashis4u
- Email: itsashis4u@gmail.com
