{% import "plate-macros.njk" as plate %}
<div class="index-table">
  <div class="index-table-head rule-strong-border">
    <span class="lbl">No.</span><span class="lbl">Date</span><span class="lbl">Title</span><span class="lbl">Subjects</span>
  </div>
  {% for post in postslist | reverse %}
    <a href="{{ post.url | url }}" class="index-row">
      <span class="mono index-no">{{ plate.padZero(loop.index) }}</span>
      <span class="mono index-date">{{ plate.plateDate(post.date) }}</span>
      <span class="disp index-title">{{ post.data.title }}</span>
      <span class="index-tags">{% for tag in post.data.tags %}{%- if collections.tagList.indexOf(tag) != -1 -%}<span class="tag-pill">{{ tag }}</span>{% endif %}{% endfor %}</span>
    </a>
  {% endfor %}
  <p class="mono index-footer">End of index &mdash; {{ postslist.length }} {{ "entry" if postslist.length == 1 else "entries" }}.</p>
</div>
